@media (min-width: 1024px) {
/* Conteneur du cœur */
.heart-container {
    display: inline-block;
    cursor: pointer;

    input {
        display: none;
    }
}

/* Style principal du cœur */
.heart {
    position: relative; 
    display: inline-block; 

    /* Cœur vide (le contour) */
    .fa-regular {
        font-size: 50px; 
        color: black; 
    }

    /* Cœur plein, légèrement plus grand */
    .fa-solid {
        font-size: 53px; 
        position: absolute; 
        top: 0; 
        left: 0; 
        color: transparent; 
        background: linear-gradient(to right,#9356DC, #FF79DA);
        -webkit-background-clip: text; 
        background-clip: text; 
        opacity: 0; 
        transition: opacity 1s ease-in-out; 
    }
}

/* Quand le checkbox est coché, on fait apparaître le cœur plein */
.heart-container input:checked + .heart .fa-solid {
    opacity: 1; 
}
}

.heart-container {
    display: inline-block;
    cursor: pointer;

    input {
        display: none;
    }
}


.heart {
    position: relative; 
    display: inline-block;
    padding-right: 1em;


    .fa-regular {
        font-size: 25px; 
        color: black;
    }


    .fa-solid {
        font-size: 26px;
        position: absolute; 
        top: 0; 
        left: 0; 
        color: transparent; 
        background: linear-gradient(to right,#9356DC, #FF79DA);
        -webkit-background-clip: text; 
        background-clip: text; 
        opacity: 0; 
        transition: opacity 1s ease-in-out; 
    }
}


.heart-container input:checked + .heart .fa-solid {
    opacity: 1; 
}



.menu-section_cards {
    
}